 name: Restrict Merge to DevOps 2
 on:
   pull_request:
     branches:
       - main
 jobs:
   check-devops:
     runs-on: ubuntu-latest
     steps:
       - name: Check DevOps team
         env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         run: |
           TEAM_MEMBERS=$(curl -H "Authorization: token $GITHUB_TOKEN" \
           https://api.github.com/orgs/OBCompany/teams/DevOps/members | jq -r '.[].login')
           if [[ ! " $TEAM_MEMBERS " =~ " ${{ github.actor }} " ]]; then
             echo "Error: Only DevOps team members can merge to main"
             exit 1
           fi
